<div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img">
    <div class="full-bg-img">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1000px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h1> The Todo app for the next generation</h1>
                            <button type="button" class="btn btn-outline-dark btn-white btn-lg center-block" style="color : white" routerLink = "/signup">SIGN UP</button>
                            <button type="button" class="btn btn-outline-primary btn-white btn-lg" style="color : white" routerLink = "/signin">SIGN IN</button>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>